<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <span click.trigger="newFoo()"><i data-feather="plus"></i></span>
                                <span click.trigger="getFoos()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Foo</th>
                            <th scope="col">Woo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr click.trigger="editFoo(foo)" repeat.for="foo of foos.foosArray">
                            <td>${foo.foo}</td>
                            <td>${foo.woo}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>